
@{
    ViewBag.Title = "RechercheUtilisateurs";
    Layout = "~/Views/Shared/_LayoutRH.cshtml";
}



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.css" rel="stylesheet" media="all">

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","RH")">Accueil</a></li>
                    <li class="breadcrumb-item active">Recherche Utilisateur</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<!-- Main content -->
<section class="content">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Liste  Utilisateurs</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <div class="col-md-9 col-md-push-1">

                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <form action="#" method="get" id="searchForm" class="input-group">

                                <div class="input-group-btn search-panel">
                                    <select name="search_param" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <option value="all">All</option>
                                        <option value="username">Username</option>
                                        <option value="email">Email</option>
                                        <option value="Matricule">Matricule</option>
                                        <option value="Direction">Direction</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" name="x" placeholder="Search term...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </form><!-- end form -->
                        </div><!-- end col-xs-8 -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end col-md-9 -->
        </div>
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

            <div class="row">
                <div class="col-sm-12">
                    <table id="tableclient" class="table table-bordered table-striped dataTable dtr-inline" role="grid">
                        <thead>
                            <tr role="row">
                                <th style="visibility: hidden"></th>
                                <th>Matricule</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Nom et Prenom</th>
                                <th>Numero Telephone</th>
                                <th>Status</th>
                                <th>Role</th>
                                <th>Poste</th>
                                <th>Direction</th>
                                <th>Etablissement</th>
                                <th>Manager</th>
                                <th>date de recrutement</th>
                            </tr>

                        </thead>
                        <tbody></tbody>

                    </table>
                </div>

            </div>
        </div>

    </div>
    <!-- /.card-body -->
    <!-- /.card -->

</section>


<!-- Modal Ajouter Client -->
<div class="modal fade" id="ModalAjouterClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3"><label>Code</label></div>
                    <div class="col-9"><input type="text" class="form-control" id="ModalAjouterClientCode" readonly /></div>

                </div>
                <div class="row">
                    <div class="col-3"><label>Intitulè</label></div>
                    <div class="col-9"><input type="text" class="form-control" placeholder="Intitulè" id="ModalAjouterClientintitule" /></div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="btnsave">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ajouter Client -->
<!-- Modal Modifier Client -->
<div class="modal fade" id="ModalModifierClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3"><label>Code</label></div>
                    <div class="col-9">
                        <input type="text" class="form-control" id="ModalModifierClientCode" readonly />


                    </div>


                </div>
                <div class="row">
                    <div class="col-3"><label>Intitule</label></div>
                    <div class="col-9"><input type="text" class="form-control" placeholder="Intitule" id="ModalModifierClientintitule" /></div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="ModelModifierClientbtnsave">Enregistrer</button>
            </div>
        </div>
    </div>
</div>

